.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}


/*Assures that everything is full screen and fixed*/
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Layer below everything on website*/
}